body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #B39375;
}
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
color: #fff;
padding: 10px 20px;
width: 100%;
}
.logo {
font-size: 24px;
font-weight: bold;
}
.hlinks{
text-align: right;
text-decoration: none;
color: white;
font-family: montserrat;
padding-right: 40px;
padding-left: 40px;
font-size: 20px;
font-weight: bold;
transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hlinks:hover{
color: black;
transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);}